/* Add here all your CSS customizations */
/* table {
    width: 100%;
    max-width: 100%;
    border: 2px solid #e5e5e5;
} */

header div.search input.search:first-child {
    width: 120px;
}

header nav ul.nav-top li a {
    padding: 6px 10px;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #bbb;
}

div#parent-fieldname-text table, th, td {
    border: 1px solid #fff;
}

.portletNavigationTree .portletContent > ul > li > ul a {
    padding-left: 40px;
    background-image: url("../img/dot.png");
    background-position: 25px 17px;
}
